h1,h2{

color:black;

}



#welcome{

 text-align:center;
 padding-top:10%;


}
.bg-green { background-color: var(--green) }

.form-group input[type=text]  {


   height:50px !important;
   border-width: medium !important;
   align:center !important   ;

}
#footer{

position:absolute !important;
   bottom:0 !important;
   width:100% !important;
   color:green !important;


}